
<div class="container">
    <div class="row">
        <div class="center card row">
            <div class="sm jumbotron center-align">
                <h2>Student Registration</h2>
            </div>
            <div class="col-sm-2">
                    <form #reg = "ngForm" class="white" (ngSubmit)="onSubmit(reg.value)">
                            <div class="">
                                <label>Email</label>
                                <div class="input-field">
                                  <input type="text" name="email" placeholder="email" required ngModel>
                                </div>
                                <label>Gender</label>
                                <div class="input-field">
                                    <input type="text" name="gender" placeholder="gender" ngModel>
                                </div>
                                <label>Firstname</label>
                                <div class="input-field">
                                    <input type="text" name="firstname" placeholder="firstname" ngModel>
                                </div>
                                <label>Lastname</label>
                                <div class="input-field">
                                    <input type="text" name="lastname" placeholder="lastname" ngModel>
                                </div>
                                <label>Password</label>
                                <div class="input-field ">
                                    <input type="password" name="password" required ngModel>
                                </div>
                                <div class="">
                                    <input class="btn btn-primary" type="submit" value="Ok">
                                </div>
                            </div>
                    </form>
            </div>
           
         
        </div>
    </div>


</div>