
<div class="">
        <div class="">
            <div class="card">
                <div class="sm jumbotron center-align">
                    <h2>Student Delete Enrollment</h2>
                </div>
                <form #post="ngForm" class=" white-bg" (ngSubmit)="onSubmit(post.value)">
                    <div class="col white-bg">
                        <div class="row mt-2">
                                <label class="col-2">Id</label>
                                <input class="col-2" type="number" name="id" value={{studentId}} disabled>
                        </div>
                        <div class="row mt-2">
                                <label class="col-2">CourseId</label>
                                <input class="col-2" type="number" name="courseId" placeholder="courseId" required ngModel>
                        </div>
                        
                    </div>
                   <div class="input-container white-bg col-3">
                                <input class="btn btn-primary" type="submit" value="Enroll">
                        </div>
                </form>
    
            </div>
        </div>
    </div>