<p>enrollment works!</p>
<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="sm jumbotron center-align">
                <h2>Student Enrollment</h2>
            </div>
            <form #enrollmentForm="ngForm" class="col s12 white" (ngSubmit)="onSubmit(enrollmentForm.value)">
                <div class="row">
                    <div>
                            <label>Id</label>
                            <div class="input-field s6">
                                <input type="number" name="id" value={{studentId}}>
                            </div>
                    </div>
                    <div>
                            <label>CourseId</label>
                            <div class="input-field s6">
                                <input type="number" name="courseId" placeholder="courseId" ngModel>
                            </div>
                    </div>
                   
                  
                </div>
                <div class="row">
                        <div class="input-field">
                            <input type="submit" value="Enroll">
                        </div>
                </div>
            </form>

        </div>
    </div>


</div>