<!-- <div class="row bg-white">
        <div class="" style="width: 2rem">
            <label>Id</label>
            <p>{{student.id}}</p>
        </div>
        <div class="col-sm">
            <label>Email</label>
            <p>{{student.email}}</p>
        </div>
        <div class="col-sm">
            <label>Gender</label>
            <p>{{student.gender}}</p>
        </div>
        <div class="col-sm">
            <label>Firstname</label>
            <p>{{student.firstname}}</p>
        </div>
        <div class="col-sm">
            <label>Lastname</label>
            <p>{{student.lastname}}</p>
        </div>     
</div> -->
<p></p>
<h1>Wala pa</h1>